/* Estilos da galeria de fotos/carrossel */

.carousel-container {
    position: relative;
    max-width: 100%;
    margin: 30px auto;
    overflow: hidden;
    text-align: center;
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 25%;
    /* 4 imagens por vez */
    padding: 10px;
    box-sizing: border-box;
}

.carousel img {
    width: 80px;
    height: auto;
    object-fit: cover;
    margin: 10px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: #d4af37;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo semitransparente */
    border-radius: 50%;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
    .carousel-item {
        flex: 0 0 50%;
        /* 2 imagens por vez em dispositivos menores */
    }
    .carousel img {
        height: 200px;
        /* Ajuste para telas menores */
    }
}


/* Responsividade */

@media (max-width: 1024px) {
    .carousel-item {
        flex: 0 0 33.33%;
        /* 3 imagens por vez em tablets */
    }
}

@media (max-width: 768px) {
    .carousel-item {
        flex: 0 0 50%;
        /* 2 imagens por vez em celulares */
    }
}

@media (max-width: 480px) {
    .carousel-item {
        flex: 0 0 100%;
        /* 1 imagem por vez em celulares muito pequenos */
    }
    .prev,
    .next {
        padding: 12px;
        /* Ajuste do tamanho dos botões para telas pequenas */
    }
}


/* Estilos do vídeo */

.video-container {
    margin: 30px auto;
    text-align: center;
}

.video-container h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #d4af37;
    /* Cor dourada */
}

.video-container video,
.video-container iframe {
    width: 50%;
    max-width: 200px;
    /* Ajuste o tamanho máximo conforme necessário */
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Sombra para destacar o vídeo */
}


/* Responsividade */

@media (max-width: 768px) {
    .video-container h2 {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .video-container h2 {
        font-size: 1em;
    }
}


/* Área de Depoimentos */


/* Estilos para o carrossel de depoimentos */

.carousel-wrapper {
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.testimonial-item {
    min-width: 100%;
    /* Cada item ocupa 100% da largura do contêiner do carrossel */
}

.testimonial p,
h4 {
    color: #fff;
}

.prev-testimonial {
    left: 10px;
}

.next-testimonial {
    right: 10px;
}

.prev-testimonial:hover,
.next-testimonial:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Responsividade */

@media (max-width: 1024px) {
    .testimonial-item {
        flex: 0 0 33.33%;
    }
}

@media (max-width: 768px) {
    .testimonial-item {
        flex: 0 0 50%;
    }
}

@media (max-width: 480px) {
    .testimonial-item {
        flex: 0 0 100%;
    }
}


/* Responsividade */

@media (max-width: 768px) {
    .testimonials {
        flex-direction: column;
        align-items: center;
    }
    .testimonial-item {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .testimonials-container h2 {
        font-size: 1.5em;
    }
    .testimonial-item {
        width: 100%;
    }
}
